{% extends "base_generic.html" %}
{% block content %}
<div class="wrapper position-relative">
    <form method="post" action="{% url 'room:search' %}">
        <div class="search-container position-absolute top-50 start-50 translate-middle border border-dark border-4">
            {% csrf_token %}
            <div class="row justify-content-center mb-2">
                <div class="name col mx-0 px-0 text-end">GUEST</div>
                <div class="name-text col mx-0 ps-1 pt-2">님의 pick</div>
            </div>
            <p class="help-text">더 중요하게 생각하는 조건을 슬라이드 해주세요.</p>
            <div class="row mb-2">
                <div class="search-label col-4 fw-bolder ">
                    <label for="distance">
                        거리<i
                            id="popover1"
                            class="far fa-question-circle ms-2"
                            data-bs-content="주요 관광지까지의 거리">
                        </i>
                    </label>
                </div>
                <div class="col-8">
                    <input
                        type="range"
                        name="distance"
                        id="distance"
                        min="0"
                        max="5"
                        value="0"
                        class="form-range"
                    />
                </div>
            </div>
    
            <div class="row mb-2">
                <div class="search-label col-4 fw-bolder">
                    <label for="price">
                        가격<i
                            id="popover2"
                            class="far fa-question-circle ms-2"
                            data-bs-content="숙박 시설의 가격">
                        </i>
                    </label>
                </div>
                <div class="col-8">
                    <input
                        type="range"
                        name="price"
                        id="price"
                        min="0"
                        max="5"
                        value="0"
                        class="form-range"
                    />
                </div>
            </div>
    
            <div class="row mb-2">
                <div class="search-label col-4 fw-bolder">
                    <label for="traffic">
                        교통<i
                        id="popover3"
                        class="far fa-question-circle ms-2"
                        data-bs-content="버스정류장, 지하철역, 터미널 등과의 거리">
                        </i>
                    </label>
                </div>
                <div class="col-8">
                    <input
                        type="range"
                        name="traffic"
                        id="traffic"
                        min="0"
                        max="5"
                        value="0"
                        class="form-range"
                    />
                </div>
            </div>
    
            <div class="row mb-2">
                <div class="search-label col-4 fw-bolder">
                    <label for="facility">
                        상업시설<i
                        id="popover4"
                        class="far fa-question-circle ms-2"
                        data-bs-content="마트, 편의점, 가게 등과의 거리">
                        </i>
                    </label>
                </div>
                <div class="col-8">
                    <input
                        type="range"
                        name="facility"
                        id="facility"
                        min="0"
                        max="5"
                        value="0"
                        class="form-range"
                    />
                </div>
            </div>
    
            <div class="row mb-2">
                <div class="search-label col-4 fw-bolder">
                    <label for="usability">
                        편의성<i
                        id="popover5"
                        class="far fa-question-circle ms-2"
                        data-bs-content="노키즈존, 24시간 프런트, 흡연공간 등">
                        </i>
                    </label>
                </div>
                <div class="col-8">
                    <input
                        type="range"
                        name="usability"
                        id="usability"
                        min="0"
                        max="5"
                        value="0"
                        class="form-range"
                    />
                </div>
            </div>

            <div class="row pt-2 justify-content-center">
                <button type="submit" class="col mb-2 btn btn-lg btn-primary">SEARCH</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}
<script>
    var popover1 = new bootstrap.Popover(document.getElementById('popover1'), {
        trigger: 'hover',
        container: 'body',
        toggle: 'popover',
        trigger: 'hover',
        placement: 'right',
    });
    var popover2 = new bootstrap.Popover(document.getElementById('popover2'), {
        trigger: 'hover',
        container: 'body',
        toggle: 'popover',
        trigger: 'hover',
        placement: 'right',
    });
    var popover3 = new bootstrap.Popover(document.getElementById('popover3'), {
        trigger: 'hover',
        container: 'body',
        toggle: 'popover',
        trigger: 'hover',
        placement: 'right',
    });
    var popover4 = new bootstrap.Popover(document.getElementById('popover4'), {
        trigger: 'hover',
        container: 'body',
        toggle: 'popover',
        trigger: 'hover',
        placement: 'right',
    });
    var popover5 = new bootstrap.Popover(document.getElementById('popover5'), {
        trigger: 'hover',
        container: 'body',
        toggle: 'popover',
        trigger: 'hover',
        placement: 'right',
    });
</script>
{% endblock %}