@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream1.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream2.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream3.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream4.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream5.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream6.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream7.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream8.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream9.otf');
    font-weight: 900;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'S-Core Dream', Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: auto;
}

/* Navbar */
.login {
    color: #ff0000;
    font-size: 1rem;
}

.login:hover {
    color: #464646;
}

.fa-star {
    color: gold;
}

.fa-star:hover {
    color: rgb(236, 172, 9);
}

/* index */
.home-text {
    color: #ffffff;
    font-size: 3rem;
    position: absolute;
    top: 30%;
    left: 15%;
}

.search-btn {
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    bottom: 30%;
    left: 15%;
}

.search-btn:hover {
    opacity: 0.8;
}

/* search */
.search-container {
    background-color: #ffffff;
    opacity: 0.8;
    width: 70%;
    height: 80%;
    border-radius: 30px;
}

.name-text {
    color: #052f78;
}

.help-text {
    color: #444444;
}
