@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: black;
    font-family: 'KOTRA_BOLD-Bold';
    color: white;
}
