@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream1.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream2.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream3.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream4.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream5.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream6.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream7.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream8.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/SCDream9.otf');
    font-weight: 900;
}

/** Chrome **/
input[type='range']::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0.25);
}

/** Firefox **/
input[type='range']::-moz-range-progress {
    background: rgba(0, 0, 0, 0.25);
}
input[type='range']::-moz-range-track {
    background: rgba(0, 0, 0, 0.25);
}

/** IE **/
input[type='range']::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.25);
}
input[type='range']::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.25);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'S-Core Dream', Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: auto;
}

/* Navbar */
.navbar {
    height: 12%;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 800;
    color: #444444;
}

.login {
    font-size: 1.3rem;
    font-weight: 600;
}

.scrap {
    font-size: 1.3rem;
    font-weight: 600;
}

.fa-star {
    color: gold;
}

.fa-star:hover {
    color: goldenrod;
}

/* index */
.home-text {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
    position: absolute;
    top: 30%;
    left: 15%;
}

.search-btn {
    font-size: 1.2rem;
    font-weight: 800;
    position: absolute;
    bottom: 30%;
    left: 15%;
}

.search-btn:hover {
    opacity: 0.8;
}

/* search */
.wrapper {
    width: 100%;
    height: 88%;
}

.search-container {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.8);
    width: 70%;
    max-height: 90%;
    overflow: auto;
    border-radius: 30px;
    padding: 2% 6% 2% 6%;
}

@media (max-width: 768px) {
    .search-container {
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.8);
        width: 90%;
        max-height: 90%;
        overflow: auto;
        border-radius: 30px;
        padding: 2% 6% 2% 6%;
    }
}

.name {
    color: #052f78;
    font-size: 2rem;
    font-weight: 800;
}

.name-text {
    font-size: 1.3rem;
    font-weight: 400;
}

.help-text {
    color: #444444;
    font-weight: 600;
}

.search-label {
    font-size: 1.2rem;
}

/* result */
.result-container {
    background-color: transparent;
    width: 30%;
    border-radius: 30px;
    margin: 1%;
    padding: 1% 2%;
}

/* accounts */
.accounts-container {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.8);
    width: 500px;
    max-height: 90%;
    border-radius: 30px;
    padding: 30px 50px;
}
